* {
	margin: 0;
	padding: 0;
	font-family: Lato Regular;
	text-shadow: none;
	font-weight: 100;
}


body {
	background-color: #ffffff;
}

.swipePages {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
	width: 100%;
	height: 100%;
}

.cursor {
	cursor: pointer;
}

.header.ui-title{
	background-color: #d95757;
	margin: 0px;
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    /*height: auto;*/
    height: 150px;
}

.ui-bar-a {
	border: none;
	background: #ffffff;
	text-shadow: none;
	font-weight: 100;
}

.left {
	float: left;
}

.right {
	float: right;
}

.ui-content {
	padding: 0px;
}


.category {
	background-color: #ffffff;
	font-family: Lato Regular;
}

.category-margin {
	margin-left: 1%;
	margin-right: 1%;
}

.category-text {
	margin:0px;
	border-bottom:2px solid #d95757;
	padding-bottom:10px;
	font-size: 1em;
}

.width {
	width: 100%;
}

.img-width {
	width: 100%;
	height: 100%;
}

.bg-color {
	background-color: #ffffff;
}

.img-padding {
	margin: 1%;
	margin-right: 0%;
	margin-bottom: 0%;
	position: relative;
	width: 48%;
	display: inline-block;
}

.text-background {
	background-color: rgba(96, 94, 94, 0.5);
	position: absolute;
	margin: 0px;
	color: #ffffff;
	/*font-weight: normal;*/
	/*font-size: 100%;*/
	width: 100%;
	bottom: 3px;
}

.cat-text {
	font-size: 20px;
	padding-left: 5%;
}

.img-text {
	display: inline-block;
	position: absolute;
	left: 2%;
	color: #ffffff;
	font-weight: 100;
}

.img-text-large {
	font-size: 1.1em;
	top: 2%;
}

.img-text-small {
	font-size: 0.8em;
	top: 15%;
}

.icon-back {
	position: relative;
	width: 25px;
}

.icon-settings {
	position: relative;
	width: 25px;
}

.content-margin {
	margin: 2%;
}

.ui-corner-none {
    -moz-border-radius:     0;
    -webkit-border-radius:  0;
    border-radius:          0;
    background-color: #ffffff;
}

.ui-listview-inset .ui-li {
	background-color: #ffffff;
}

.ui-body-c {
	color: #494848;
	text-shadow: none;
	background: #ffffff !important;
}

.ui-page {
	background: transparent !important;
} 

.ui-page-active {
	background: transparent !important;
}

.ui-listview-filter .ui-input-search {
	border-radius: 2px;
	box-shadow: none;
	margin-top: 5%;

}

.ui-li .ui-btn-inner a.ui-link-inherit {
	font-weight: 100;
}

.back-color {
	background-color: #ffffff;
}

.content-margin-fitness {
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.off-content {
	margin-top: 1%;
	clear: both;
	background-color: #ffffff;
	border-top: 3px solid #eae7e7;
}

.icon-off-width {
	width: 100%;
}

.fitness-off-icon {
	width: 16%;
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
}

.fitness-off-text {
	margin: 0%;
	font-size: 0.8em;
}

.fitness-off-content {
	width: 77%;
	display: inline-block;
	margin: 2%;
	margin-top: 1%;
}

.fitness-0ff-like {
	display: inline-block;
	margin-bottom: 0%;
	margin-top: 11%;
	width: 45%;
}

.heart-like-img {
	width: 13%;
}

.view-img {
	width: 15%;
}

.forward-img {
	width: 6%;
}

.forward-icon {
	width: 100%;
}

.location-icon {
	margin-left: 1%;
	vertical-align: middle;
	width: 3%;
}

.location-p {
	margin: 0%;
	display: inline-block;
	font-size: 0.7em;
}

.location-text {
	color: #bb4c4c;
	font-size: 1.1em;
}

.location-change {
	border: 1px solid #d95757;
	color: #d95757;
	font-size: 0.7em;
	position: absolute;
	right: 1%;
	padding: 1%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.sort-text {
	display: inline;
	float: left;
	margin-top: 10px;
}

.ui-body-c .ui-link {
	font-weight: 100;
	/*color: #a8a7a7;*/
	text-decoration: none!important;
}

.offer-img-border {
	border-bottom: 2px solid #eae7e7; 
	width: 100%;
	text-align: center;
}

.offer-like-view {
	border-bottom: 2px solid #eae7e7;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.offer-like-border {
	border: 1px solid #8f8e8e;
	color: #8f8e8e;
	position: relative;
	left: 5%;
	padding: 1%;
	font-size: 12px;
}

.offer-view-border {
	border: 1px solid #8f8e8e;
	color: #8f8e8e;
	position: relative;
	left: 10%;
	padding: 1%;
	font-size: 12px;
}

.icon-like-view {
	width: 23px;
	height: 17px;
}

.align-middle {
	vertical-align: middle;
}

.contact-border {
	/*border: 1px solid #009640;*/
	/*color: #ffffff;*/
	/*position: relative;*/
	position: absolute;
	/*left: 40%;*/
	/*padding: 1%;*/
	/*background-color: #009640;*/
	/*top: 36%;*/
	right: 5%;
	font-weight: 100;
	font-size: 12px;
}

.tab-margin {
	margin: 2%;
}

.tab-header {
	margin-top: 3%;
	margin-bottom: 0%;
}

.company-font-size {
	font-size: 0.9em;
}

.offer-rule-margin {
	margin-top: 2%;
	margin-bottom: 2%;
}

.display {
	display: inline-block;
}

.display-block {
	display: block;
}

.clear {
	clear: both;
}

.shop-location-border {
	border-top: 3px solid #eae7e7;
	border-bottom: 1px solid #eae7e7;
}

.shop-margin {
	margin: 3%;
}

.shop-address {
	font-weight: 600;
	margin-bottom: 3%;
}

.location-page-margin {
	margin-bottom:3%;
}

.logo-pos {
	width: 30%;
	margin-right: 5%;
}

.contact-img-pos {
	width: 20px;
	height: 20px;
	position: relative;
	left: -5px;
	/*top: 5px;*/
}

.contact-img-margin {
	margin-bottom: 2%;
}

.logo-width {
	width: 100%;
}

.dropdownlist {
	clear: both;
	margin: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #a8a7a7;
	width: 90%;
}

#ddimages {
	background: url('../images/dropdown-down-grey-1.png') no-repeat right center;
}

#ddimages ul li a {
	color: #a8a7a7;
}

.dd-container {
	float: right;
	width: 170px!important;
}

.dd-selected {
	height: 20px;
	padding: 5px!important;
	color: #a8a7a7!important;
	font-weight: 100!important;
}

.dd-select {
	border-radius: 0px!important;
	border: solid 1px #a8a7a7!important;
	background: none!important;
}

.dd-option {
	padding: 5px!important;
	border-bottom: 1px solid #a8a7a7!important;
	font-weight: 100!important;

}

.dd-options {
	box-shadow: none!important;
	top: -60px!important;
	border: 1px solid #a8a7a7!important;
	border-bottom: none!important;
}

.fixed {
	position: fixed;
	width: 100%;
	bottom: 5px;
}

.ui-body-c .ui-link:hover {
	color: #d95757!important;
}

.dd-option-image, .dd-selected-image {
	width: 21px!important;
	height: 18px!important;
}

.dd-selected-text {
	line-height: 20px!important;
	color: #a8a7a7;
}

.dd-pointer-down {
	display: none;
}
.dd-pointer-up {
	display: none;
}

.ui-header .ui-btn-left {
	top: 14px;
}

.ui-btn-corner-all {
    -moz-border-radius:     0;
    -webkit-border-radius:  0;
    border-radius:          0; 
}

.ui-header .ui-btn-inner {
	padding: 0px;
}

.ui-btn-inner {
	border: none;
	border-color: transparent;
	display: inline-block;
}

.ui-bar-a .ui-shadow {
	box-shadow: none;
}

.ui-btn-up-a {
	border: none!important;
	background: none;
}

.ui-btn-up-a, .ui-btn-hover-a {
	background: transparent;
	border : none;
}

.ui-header .ui-btn-right {
	top: 14px;
}


/* owl theme position */
.owl-theme .owl-controls {
	margin: 0 auto;
	position: relative;
	margin-top: -25px;
	text-align: center;
}

.owl-theme .owl-controls .owl-page,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	outline: none;
}


/* tab new */

#tabs {
	margin: 2%;
}

#tabs #tab-title-color  {
	color: #ffffff;
}

.bgcolor {
	background-color: #929090;
	color: #ffffff !important;
	text-shadow: none;
}

#tabs ul {
	padding: 0px;
	margin: 0 auto;
	list-style-type: none;
	border: 1px solid #929090;
	width: 85%;
	text-align: center;
}

#tabs ul li {
	display: inline-block;
	width: 50%;
	text-align: center;
}

#tabs ul li {
	position: relative;
	line-height: 24px;
	color: #929090;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
}

#tabs ul li a:hover {
	text-decoration: none; 
}

#tabs ul li:active {
	background-color: #929090;
	color: #ffffff;
}

#tabs #Content_Area { 
	clear:both;
	overflow:hidden;
	line-height:20px;
	position: relative;
	top: 0px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

#selected-value {
	font-weight: 700;
}